<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Form Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <div class="container">
            <div class="image-container">
                <img src="{{ url_for('static', filename='sicu_aura_logo.png') }}" alt="">
                <h3 id="caption">Feel safe everywhere</h3>
            </div>
            <div>
                <div class="header">
                    <img src="{{ url_for('static', filename='another_logo.png') }}" alt="">
                    <div class="navbar">
                        <p><a href="/signup">Sign Up</a> / <a href="#"> Login</a></p>
                    </div> 
                </div>
                <h1>Welcome to Sicu -aura</h1>
                <form action="/login" id="hospital-form" method="POST">
                    <input type="text" id="hospital-name" name="hospital-name" placeholder="Hospital Name" required><br><br>

                    <input type="email" id="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" id="password" name="password" placeholder="Password" required><br><br>

                    <input type="text" id="special-access-code" name="special-access-code" placeholder="Special Access Code(enter 124)" required><br><br>

                    <input type="submit" value="Login">
                </form>
                <footer>
                    <p>© Hospital Form. All rights reserved.</p>
                </footer>  
            </div>
        </div>
    </main>      
</body>
</html>
